body {
  background-color: var(--old-lace);
}
.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active {
  background-color: transparent !important;
  color: var(--jet) !important;
  font-weight: 500 !important;
  border-radius: 0 !important;
  border: 0px !important;
  border-bottom: 1px solid var(--jet) !important;
}

.dropdown-menu {
  background-color: var(--jet-trans-95);
  max-height: 300px;
  overflow-y: auto;
  right: 0;
  left: auto;
}

.dropdown-item {
  color: var(--old-lace);
}

.dropdown-item:hover {
  color: var(--old-lace);
  background-color: var(--jet);
}

.categories {
  border: 1px var(--jet) solid;
  border-radius: 10px;
  padding: 20px;
}

.btn-yellow,
.btn-yellow:hover {
  background-color: var(--orange-yellow);
  box-shadow: 4px 4px 2px var(--jet-trans-95);
}

.btn-yellow:hover {
  filter: brightness(105%);
}

.srch,
.srch:hover,
.srch:focus,
.srch:active {
  background-color: transparent;
  border: var(--jet) 1px solid;
  color: var(--jet);
  box-shadow: none;
}

.categories {
  background: linear-gradient(
    to bottom,
    var(--old-lace),
    var(--tiffany-blue-trans)
  );
  min-height: 100vh;
}

.book {
  background-color: white;
  min-height: 330px;
  border-radius: 10px;
  border: 1px solid var(--jet-trans-25);
  position: relative;
}

.book img {
  border: 1px solid var(--jet-trans-25);
  border-radius: 25px 0px 25px 0px;
}

.book-image-container {
  position: relative;
  width: 90%;
}

.icon-heart {
  position: absolute;
  bottom: -7px;
  right: -5px;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.icon-heart:hover {
  bottom: -6.5px;
}
.icon-heart:hover i {
  color: red;
}
.icon-heart i.active{
  color: red;
}
.icon-heart:hover i::before {
  -webkit-text-stroke: 1px red;
}

.icon-heart i {
  color: white;
}

.icon-heart i::before {
  -webkit-text-stroke: 1px black;
}

.book p {
  padding: 0;
  margin: 0;
  padding-top: 2px;
}

.book .btn {
  background-color: var(--orange-yellow);
  border: 1.4px solid var(--jet-trans-95);
  padding: 2px 10px 2px 10px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 2px 2px 1px var(--jet);
  position: relative;
  bottom: 0;
  transition: filter 0.1s;
}

.book .btn:hover {
  filter: brightness(105%);
}

.pagination-button {
  margin: 0px 5px 0px 5px;
  background-color: transparent;
  border: none;
  color: var(--jet);
  font-weight: bold;
}

.close-search-button{
  position: absolute;
  top: 18px;
  left: 138px;
}

.form-control::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.form-control::-webkit-search-decoration,
.form-control::-webkit-search-results-button,
.form-control::-webkit-search-results-decoration {
  display: none;
}


.selected-page {
  color: var(--orange-yellow);
  font-weight: 800;
  font-size: 20px;
}

.clickable-header {
  cursor: pointer;
}

.clickable-header:hover {
  color: var(--orange-yellow);
}

#min-price,
#max-price {
  width: 35%;
  border: 1px solid;
  padding: 8px;
  outline: none;
}

#min-price,
#max-price {
  background-color: transparent;
  border: var(--jet) 1px solid;
  color: var(--jet);
}

#min-price:hover,
#max-price:hover,
#min-price:focus,
#max-price:focus,
#min-price:active,
#max-price:active {
  background-color: transparent;
  border: var(--jet) 1px solid;
  color: var(--jet);
  box-shadow: 4px 4px 1px var(--jet-trans-95);
}

.btn-outline-warning {
  color: #000000;
  width: 80px;
  border-radius: 8px;
  border-color: #000000;
}

.btn-outline-warning:hover {
  color: #000000;
  box-shadow: 4px 4px 2px var(--jet-trans-95);
  border: var(--jet) 1px solid;
  color: var(--jet);
}

input[type="number"] {
  position: relative;
  margin: 0 0 1rem;
  border: 1px solid #bbb;
  border-radius: 20px;
  border-color: #bbb #ececec #ececec #bbb;
  padding: 0.2rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: var(--orange-yellow)
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=)
    no-repeat center center;
  width: 1em;
  border-left: 1px solid #bbb;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 992px) {
  #footerFrame {
    height: 250px;
  }
}

@media screen and (max-width: 991px) {
  #footerFrame {
    height: 400px;
  }
}
