.container-fluid {
  background-color: var(--tiffany-blue);
  height: 250px;
  color: var(--jet);
}

a {
  text-decoration: none;
  color: var(--jet);
  font-weight: 500;
}
a:hover {
  color: var(--cerulean);
}

h5 {
  font-weight: 600;
  margin-bottom: 25px;
}

.btn-light {
  border: 1px solid var(--jet-trans-75);
  font-weight: 500;
  display: inline-block;
}

.btn-light:hover {
  background-color: white;
}

.btn-light:hover span {
    font-size: 1.005em;
  transition: transform 0.2s; 
}
