.container-fluid {
  height: 100px;
  background-color: var(--old-lace);
  z-index: 99999999;
}

.container {
  background-color: var(--old-lace);
}

.navbar-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--jet-trans-75);
  position: relative;
}

.navbar-link.active {
  color: var(--jet);
  font-weight: bolder;
}
.navbar-link.active:after {
  width: 100%;
}
.navbar-link:hover {
  color: var(--jet);
  font-weight: bolder;
}

.navbar-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0px;
  height: 4px;
  background-color: var(--tiffany-blue);
  transition: width 0.3s ease;
}

.navbar-link:hover:after {
  width: 100%;
}

.btn-dark {
  position: relative;
}

.btn-dark::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2px;
  left:3px;
  pointer-events: none;
  border-radius: inherit;
  box-shadow: 3px 3px 0px var(--jet);
}

.btn-outline-dark{
  background-color: rgba(255, 255, 255, 0.6) ;
  box-shadow: 3px 3px 0px var(--jet);
}

.btn-dark:hover{
  background-color: var(--jet-trans-95);
}