body{
    background-color: #fcf6e8 !important;
  }

.whole{
    height: 100vh;
    padding-top: 36px;;
   
}
.container-fluid {
    height: 100px;
    background-color: var(--old-lace);
  }
  
  .container {
    background-color: var(--old-lace);
  }
  .logo{
    width: 111px !important;
    margin-left: 13px;
    margin-top: 19px;
}
.first-half{
    width: 50vw;
    height: 100vh;
    padding-left: 88px !important;
}
.second-half{
    padding-left: 36px;
}

.free{
    font-size: 35px;
    color: #3b3d49;
}
.credit-Card{
    font-size: 20px;
    color: #3b3d49;
}
.free-trial{
    font-size: 29px;
    padding-top: 20px;
    color: #3b3d49;
}
.formm{
    padding-top: 20px;
}
.form-group{
    max-width: 590px !important; 
}
.form-control{
    height: 45px;
    width: 80%;

}
.select{
    padding-top: 25px;
    width: 200px;
}
.custom-select{
    width: 80%;
    border-left: none;
    border-color: var(--grey-color);
    flex-grow: 1;

}
.btn-primary{
    background-color:var(--main-primary-color) !important;
    border: none !important;
    border-radius: 1px;
    width: 200px;
    height: 47px;
    font-size: 20px;
    font-weight: bold;
}
.Free-Button-Wrapper{
    padding-top: 30px;
    align-items: baseline;
    gap: 32px;

}
.Sign-in-p{
    font-size: 18px;
    font-weight: 400;
}
.Sign-in-p a{
    color: var(--main-primary-color);
    font-size: 15px;
    font-weight: 700;
}

.agreement{
    padding-top: 13px;
    font-size: 12px;
    width: 608px;
}

.input-group-text{
    background-color: transparent !important;
    border-radius: 0 !important;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.input-group-prepend{
    border-right: none;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: var(--main-primary-color);
}
.trusted-organization{
    padding-top: 61px;
}
ul{
    list-style: none;
    padding-left: 0 !important;
}
li{
    gap: 27px;
    align-items: baseline;
}
.images-wrapper img{
    width: 200px;
    display: block;
    
}
.images-wrapper{
    padding-top: 31px;
    gap: 23px
}
.special-handling-width{
    width: 100px !important;
}


@media (max-width: 985px) {
    .second-half{
        display: none;
    }
  }
  .toast-container {
    position: absolute;
    top: 20px; 
    right: 20px;
    z-index: 1000000000 !important ; 
    display: flex;
    justify-content: center;
}

.toast {
    max-width: 350px;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.toast-header {
    background-color: #dc3545;
    color: white;
}

.close {
    width: 23px;
    color: black;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    margin-left: 172px;
}

.close:hover {
    opacity: 1;
}

:root {
    --main-primary-color : #d3002d; 
    --grey-color : #ced4da;
}