body {
  background-color: var(--old-lace);
}

.image {
  border-radius: 18px;
  position: relative;
  width: 220px;
}

.image::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.container-frame {
  margin-top: 150px;
}
.auth {
  font-weight: 600;
}

.category,.more-info {
  color: var(--cerulean);
  font-weight: bold;
  font-size: 18px;
}

.box{
  border: 1.5px solid var(--jet);
  border-radius: 10px;
  padding: 10px;
  min-height: 120px;
  font-weight: 500;
}

.incr input,.incr input:focus,.incr input:enabled{
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}

.incr{
  border: 1px solid var(--jet);
  border-radius: 8px;
  margin-top: 30px;
  font-size: 20px;
}

.btn-cart, .btn-cart:hover,.btn-wish,.btn-wish:hover{
  background-color: var(--celadon);
  color: var(--jet);
  font-weight: 600;
  padding: 5px 20px 5px 20px;
  border: 1px solid var(--jet);
  width: fit-content;
  box-shadow: 2px 2px 0px var(--jet);
}

.btn-wish,.btn-wish:hover{
  background-color: var(--salmon-pink);
}

.btn-cart:hover,.btn-wish:hover{
  filter: brightness(110%);
}