<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <div class="container-fluid py-5">
      <div class="container row mx-auto text-center justify-content-center">
        <div class="col-5">
          <h4>
            Sign Up to our KutubKhana Online Bookstore & receive 15% off to your
            first order
          </h4>
          <a href="../pages/registration.html" class="btn btn-light rounded-5 mt-4 links">
            <span> Sign Up now to get the blast offer </span>
          </a>
        </div>

        <div class="col-2 text-start">
          <h5>Quick Link</h5>
          <p>
            <a href="../pages/about.html" class="links">About us</a>
          </p>
          <p>
            <a href="../pages/bookstore.html" class="links">Products</a>
          </p>
          <p>
            <a href="../pages/contact-us.html" class="links">Contact us</a>
          </p>
        </div>
        <div class="col-2 text-start">
          <h5>Customer</h5>
          <p>
            <a href="../pages/cart.html" class="links">My Cart</a>
          </p>
          <p>
            <a href="../pages/orders.html" class="links">Orders</a>
          </p>
        </div>
      </div>
    </div>

    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/footer.js"></script>
  </body>
</html>
