<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
    <div class="container-fluid">
        <div class="container row justify-content-between mx-auto h-100 w-100 align-items-center">
            <div class="left col-8 row align-items-end h-50 justify-content-start">
                <a href="../index.html" class="col-2">
                    <img src="../Assets/images/logo.png" class="img-fluid"/>
                </a>
                <ul class="row col-6 list-unstyled offset-1">
                    <li class="col"><a href="../index.html" class="navbar-link">Home</a></li>
                    <li class="col"><a href="../pages/bookstore.html" class="navbar-link">Bookstore</a></li>
                    <li class="col"><a href="../pages/about.html" class="navbar-link">About Us</a></li>
                </ul>
            </div>
            <div class="right col-2 row">
                <button class="btn-dark btn col-6 ">Sign Up</button>
                <button class="btn-outline-dark border-dark border-2 btn col-5 offset-1">Login</button>
            </div>
        </div>
    </div>

    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/navbar.js"></script>
</body>
</html>

